body {
    padding: 0;
    margin: 0;
}

.footer {
    height: 200px;
    background-color: rgb(38, 9, 65);
    display: flex;
    padding: 60px 0;
    box-sizing: border-box;
}

.footer > * {
    color: white;
    font-family: 'Lato', sans-serif;
    display: flex;
}
.brand-copyright {
    margin-left: 250px;
    flex-direction: column;
    justify-content: center;
}
.brand {
    font-size: 35px;
}
.copyright {
    margin-top: 10px;
}
.all-pages {
    margin-left: 230px;
    flex-direction: column;
    justify-content: space-between; 
}

.links {
    margin-left: 250px;
    width: 200px;
    justify-content: space-between;
    align-items: center;
}